@using ProjectTrackerDataAccess.Models;
@using ProjectTrackerDataAccess.LookupTables.Models;

@*@model ValueTuple<FeatureModel, List<PriorityModel>>*@
@model FeatureModel;

@{
    ViewData["Title"] = "Edit";

    //FeatureModel Features = Model.Item1;
    //List<PriorityModel> PriorityList = Model.Item2;
}

<h4> EditFeature</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group" hidden="hidden">
                <label asp-for="ProjectId" class="control-label"></label>
                <input asp-for="ProjectId" class="form-control" />
                <span asp-validation-for="ProjectId" class="text-danger"></span>
            </div>



            <div class="form-group" >
                <label asp-for="PriorityId" class="control-label"></label>
                <input asp-for="PriorityId" class="form-control" />
                <span asp-validation-for="PriorityId" class="text-danger"></span>
            </div>



            <div class="form-group">
                <label asp-for="PriorityId" class="control-label" ></label>
                
              @*  <select id="drpPriorityList" class="form-control" asp-for="PriorityId" 
                    asp-items="@(new SelectList(@PriorityList, "Value", "Name"))"></select>*@
               <select id="drpPriorityList" class="form-control" asp-for="PriorityId" 
                    asp-items="@(new SelectList(ViewBag.PriorityList, "Value", "Name"))"></select>

                <span asp-validation-for="PriorityId" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="RiskId" class="control-label"></label>
                <input asp-for="RiskId" class="form-control" />
                <span asp-validation-for="RiskId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClassificationId" class="control-label"></label>
                <input asp-for="ClassificationId" class="form-control" />
                <span asp-validation-for="ClassificationId" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Active" /> 
                    @Html.DisplayNameFor(model => model.Active)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="CreatedBy" class="control-label"></label>
                <input asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedBy" class="control-label"></label>
                <input asp-for="ModifiedBy" class="form-control" />
                <span asp-validation-for="ModifiedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedDate" class="control-label"></label>
                <input asp-for="ModifiedDate" class="form-control" />
                <span asp-validation-for="ModifiedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
